In [625]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import warnings
warnings.filterwarnings('ignore')
%matplotlib inline

In [626]:
df=pd.read_csv("Employees.csv")

In [627]:
df

,Id,Name,Age,Base Pay,OverTime Pay,Benefits,Total Pay benefits,Loan,Department,Duration,Rating,Email,State,Country
0,1,Marcia Stephens,22,120000,60000.0,15000.0,195000.0,No,SDE,7,8.2,['marcia.stephens@reddit.com'],colarado,USA
1,2,Karen Lopez,22,120000,60000.0,15000.0,195000.0,No,SDE-T,6,9.3,['karen.lopez@gmail.com'],taxes,USA
2,3,Heather Reilly,22,60000,30000.0,7500.0,97500.0,No,SDE,5,6.6,['heather.reilly@hotmail.com'],NewBrunswick,Canada
3,4,Cindy Leblanc,32,70000,35000.0,8750.0,113750.0,No,Admin,1,8.0,['cindy.leblanc@hotmail.com'],colarado,USA
4,5,Colin Richardson,22,120000,60000.0,15000.0,195000.0,Yes,SDE,3,5.7,['colin.richardson@yahoo.com'],altai,Russia
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
995,996,Douglas English,32,110000,55000.0,13750.0,178750.0,No,SDE-T,5,9.3,['douglas.english@hotmail.com'],NewBrunswick,Canada
996,997,Michael Berger,27,120000,60000.0,15000.0,195000.0,No,SDE,4,9.3,['michael.berger@outlook.com'],chechnya,Russia
997,998,Theodore Robinson,22,96000,48000.0,12000.0,156000.0,Yes,Hr,3,9.3,['theodore.robinson@reddit.com'],adygea,Russia
998,999,Cindy Knox,48,80000,40000.0,10000.0,130000.0,Yes,SDE,7,6.6,['cindy.knox@hotmail.com'],Ontario,Canada
999,1000,Katherine Keith,30,96000,48000.0,12000.0,156000.0,No,SDE,2,8.2,['katherine.keith@hotmail.com'],NewBrunswick,Canada

In [628]:
#What is the Average age of employees
df['Age'].mean()

31.836

In [629]:
#What is the Median Age of the employees in the oranization
df['Age'].median()

30.0

In [630]:
#What is the average age of employees working in accounts department
df[df['Department']=='Accounts']['Age'].mean()

31.23076923076923

In [631]:
#What is the average age of employees working in HR department
df[df['Department']=='Hr']['Age'].mean()

31.28846153846154

In [632]:
#what is the max and min age of the employees in the organisation
print(df['Age'].max())
print(df['Age'].min())

55
22

In [633]:
#What is the average age of employees working in SDE department in USA
df[df['Department']=='SDE'][df['Country']=='USA']['Age'].mean()

32.14393939393939

In [634]:
#What is the average age of employees working in Admin department in Canada
df[df['Department']=='Admin'][df['Country']=='Canada']['Age'].mean()

32.18181818181818

In [635]:
#what is the name of most senior employee with respect to age?
df['Name'][df['Age']==(df['Age'].max())]

15           Megan Chambers
35              Erik Sutton
42           Michael Cooper
97             Frank Taylor
124         Harold Johnston
132           Audrey Barber
173          Kayla Franklin
186          Crystal Bryant
204          Denise Manning
213              Mark Hardy
239       Dr. Ryan Mitchell
290               Dawn Vega
320          Benjamin Brown
353    Mr. Nathan Underwood
387            Nathan Brown
419           Jessica Miles
457             Jamie Moody
466              Megan Rowe
468            Ashley Lopez
490            Danny Franco
527           Larry Shepard
561              John Smith
678           Aaron Douglas
688           Joseph Spears
696          Anthony Barnes
711           Hannah Forbes
715             Lauren York
729             Kara Murphy
741             Robert Ball
759         Charlotte Ramos
772             Austin Cook
889            Wendy Norton
922            Taylor Garza
940             Karen White
989             Karen Lucas
990            Patrick Lane
991       Elizabeth Wheeler
Name: Name, dtype: object

In [636]:
#what is the name of most senior employee with respect to Working Duration?
df['Name'][df['Duration']==(df['Duration'].max())]

0      Marcia Stephens
9          Steven Lynn
16        Steven Hicks
28       James Wilkins
32         Troy Thomas
            ...
964     Joseph Johnson
973      Rachel Harris
975      Melissa Leach
989        Karen Lucas
998         Cindy Knox
Name: Name, Length: 151, dtype: object

In [637]:
#What is the salary of the employee whose name is Maria Williams
df[df['Name']=='Maria Williams']['Base Pay']

808    96000
Name: Base Pay, dtype: int64

In [638]:
#What is the salary of the employee whose name is Virginia Hogan and age is 30
df[((df['Name']=='Virginia Hogan')|(df['Age']=='30'))]['Base Pay']

406    120000
Name: Base Pay, dtype: int64

In [639]:
#What are the different departments this organisation has?
df['Department'].unique()

array(['SDE', 'SDE-T', 'Admin', 'Logistics', 'Hr', 'Accounts'],
      dtype=object)

In [640]:
#what are total frequency of the employees with respect to each department?
df['Department'].value_counts()

SDE          497
SDE-T        175
Logistics    158
Accounts      65
Admin         53
Hr            52
Name: Department, dtype: int64

In [641]:
#What percentage of employees work in SDE department
((df[df['Department']=='SDE'].count())/df.count())*100

Id                    49.7
Name                  49.7
Age                   49.7
Base Pay              49.7
OverTime Pay          49.7
Benefits              49.7
Total Pay benefits    49.7
Loan                  49.7
Department            49.7
Duration              49.7
Rating                49.7
Email                 49.7
State                 49.7
Country               49.7
dtype: float64

In [642]:
#What is the average rating of an employee with respect to each department
df.groupby('Department')['Rating'].mean()

Department
Accounts     7.750769
Admin        8.060377
Hr           8.150000
Logistics    7.955063
SDE          7.894769
SDE-T        7.652571
Name: Rating, dtype: float64

In [643]:
#What is the average salary of an employee with respect to each country
df.groupby('Country')['Base Pay'].mean()

Country
Canada            94016.064257
Russia            93330.612245
USA               94153.284672
United Kingdom    95068.965517
Name: Base Pay, dtype: float64

In [659]:
#What is the average salary of SDE profile with respect to each country
df[df['Department']=='SDE'](df.groupby('Country'))['Base Pay'].mean()

TypeError: 'DataFrame' object is not callable

In [664]:
#What is the average salary of the employee who have taken the loan
df[df['Loan']=='Yes']['Base Pay'].mean()

93478.5100286533

In [680]:
#What are the top 5 domain name used in employees email id
df['Email'].str.split('@').str[1].value_counts()

outlook.com']    213
hotmail.com']    205
yahoo.com']      205
gmail.com']      198
reddit.com']     179
Name: Email, dtype: int64